<div ng-include src="'partials/searchbox.html'"></div>

<div id="info">
  <p>
    This is a search engine for looking up salaries for Washington
    State employees. The data
    is <a href="http://www.ofm.wa.gov/persdetail/">provided by the
    State</a>. Try typing a state employee&#8217;s name in the box
    above. Alternatively, you can try one of the following queries:

    <ul>
      <li>
        The state&#8217;s 22<sup>nd</sup> governer: <a href="#/search?q=Christine%20Gregoire">Christine Gregoire</a>
      </li>
      <li>
        Six-figure earners in 2012: <a href="#/search?q=2012_salary:%5B100000%20TO%20*%5D">2012_salary:[100000 TO *]</a>
      </li>
      <li>
        University of Washington employees: <a href="#/search?q=agency:%22university%20of%20washington%22">agency:"university of washington"</a>
      </li>
      <li>
        2012 University of Washington six-figure earners: <a href="#/search?q=agency:%22university%20of%20washington%22%202012_salary:%5B100000%20TO%20*%5D">agency:"university of washington" 2012_salary:[100000 TO *]</a>
      </li>
    </ul>
  </p>
</div>
