<article ng-show="error" class="error">
  Oops. It looks like your request couldn't be completed.
</article>

<article ng-repeat="employee in response.docs">
  <h1>
    <a href="#/employees/{{employee.id}}">{{employee.name | uppercase}}</a>
  </h1>

  <table>
    <tr>
      <th>Title</th>
      <td>{{employee.title | uppercase}}</td>
    </tr>
    <tr>
      <th>Agency</th>
      <td>{{employee.agency | uppercase}}</td>
    </tr>
    <tr>
      <th>Salary</th>
      <td class="salaries">
        <table>
          <tr ng-repeat="year in years">
            <th>{{year}}</th>
            <td>{{employee[year + "_salary"] | salary}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</article>
