<table>
  <tbody ng-repeat="employee in employees">
    <tr>
      <th>Name</th>
      <td colspan="{{employee.earnings.length}}">
        <a href="#/employees/{{employee.id}}">{{employee.name}}</a>
      </td>
    </tr>
    <tr>
      <th>Title</th>
      <td colspan="{{employee.earnings.length}}">{{employee.title}}</td>
    </tr>

    <tr>
      <th>Agency</th>
      <td colspan="{{employee.earnings.length}}">{{employee.agency.name}}</td>
    </tr>

    <tr>
      <th rowspan="2">Earnings</th>
      <th ng-repeat="point in employee.earnings">
        {{point.year}}
      </th>
    </tr>

    <tr>
      <td ng-repeat="point in employee.earnings">
        {{point.amount | salary}}
      </td>
    </tr>
  </tbody>
</table>
