<article ng-repeat="employee in employees">
  <h1>
    <a href="#/employees/{{employee.id}}">{{employee.name}}</a>
  </h1>
  <h2>
    {{employee.title}}
  </h2>
  <h3>
    {{employee.agency.name}}
  </h3>


  <table>
    <tr>
      <th rowspan="2">ANNUAL EARNINGS</th>
      <th ng-repeat="point in employee.earnings">
        {{point.year}}
      </th>
    </tr>
    <tr>
      <td ng-repeat="point in employee.earnings" class="salary">
        {{point.amount | salary}}
      </td>
    </tr>
  </table>

</article>
