<div id="searchbox">
  <input type="text"
         ng-model="query"
         placeholder="Enter a name"
         autofocus />
</div>

<div id="info" ng-show="result && query">
  <div id="numresults" ng-switch on="result.total_results" >
    <p ng-switch-when="0">No records found.</p>
    <p ng-switch-when="1">Found <strong>1</strong> record.</p>
    <p ng-switch-default>
      Showing records
      <strong>{{(page - 1) * result.items.length + 1}}</strong>-<strong>{{page * result.items.length}}</strong>
      of <strong>{{result.total_results}}</strong>.</p>
  </div>

  <div id="pagebuttons">
    <p>
      <a href=""
         ng-click="page = page - 1"
         ng-hide="page <= 1">&larr; Prev</a>
      <a href=""
         ng-click="page = page + 1"
         ng-hide="page >= result.total_pages">Next &rarr;</a>
    </p>
  </div>
</div>

<div ng-include src="'/static/partials/employees.html'"></div>

